@font-face {
    font-family: OratorStd;
    src: url('../font/OratorStd.otf') format("opentype");
}

@font-face {
    font-family: kana;
    src: url('../font/Audrey-Bold.otf') format("opentype");
}

@font-face {
    font-family: Kozuka;
    src: url('../font/KozGoPr6N-Regular.otf') format("opentype");
}

@font-face {
    font-family: YuGothic;
    src: url('../font/yugothib.ttf') format("truetype");
}

@font-face {
    font-family: Helvetica;
    src: url('../font/Helvetica.ttc') format("truetype");
}

.title{
    font-family: kana;
    padding-top: 30vh;
    vertical-align: middle;
    /* font-weight: 600;  */
}

.titleFont {
    font: Bold 30px/36px kana;
    letter-spacing: 3.6px;
}

.subTitle {
    font: Bold 18px/35px Kozuka;
    letter-spacing: 0.6px;

}
.font{
    font-family: SuperCoolMyFont;
}

.scroll {
    font:  14px/20px OratorStd;
    letter-spacing: 0.7px;
    padding-bottom: 84px;
}
.scroll:after {
    width: 2px;
    height: 84px;
    left: 50%;
    bottom: 0;
    content: "";
    display: block;
    background-color: #899495;
    position: absolute;

}

.separationPane1 {
    font: Bold 1.5vw/35px YuGothic;
}
.separationPane2 {
    font: Bold 1.2vw/10px YuGothic;
}

.label {
    position: absolute;
    color: white;
    font-size: 12px;
    /* filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5));  */
    text-shadow:black 1px 1px 10px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    z-index:2;
}
.shadow {
    font-size:1.5vh;
    /* box-sizing:content-border;
    background-color:white;*/
     filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.7)); 
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.7));
    /* box-shadow:10px 10px; */
}
.shadow:hover {
    cursor: pointer;
}


.footerFont {
    font:  15px/20px Helvetica;
    letter-spacing: 1px;
}
