@font-face {
    font-family: OratorStd;
    src: url('./font/OratorStd.otf') format("opentype");
  }

  @font-face {
    font-family: kana;
    src: url('font/Audrey-Bold.otf') format("opentype");
  }

  @font-face {
    font-family: Kozuka;
    src: url('font/KozGoPr6N-Regular.otf') format("opentype");
  }

  .title{
    font-family: kana;
    padding-top: 30vh;
    vertical-align: middle;
    /* font-weight: 600;  */
  }

  .titleFont {
    font: Bold 30px/36px kana;
    letter-spacing: 3.6px;
  }

  .subTitle {
    font: Bold 20px/44px Kozuka;
    letter-spacing: 0.6px;

  }
  .font{
    font-family: SuperCoolMyFont;
  }

  .scroll {
    font:  14px/20px OratorStd;
    letter-spacing: 0.7px;
    padding-bottom: 150px;
  }
  .scroll:after {
    width: 2px;
    height: 145px;
    left: 50%;
    bottom: 0;
    content: "";
    display: block;
    background-color: #899495;
    position: absolute;

}

